<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caffetal</title>
    <link rel="stylesheet" href="/resources/css/styles.css">
    <link rel="stylesheet" href="/resources/css/tables.css">
</head>

<body>
    <div class="sidebar">
        <h2>Usuario</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/clienteProductos">Productos</a></li>
            <li><a href="/clienteHistorial">Historial</a></li>
        </ul>
    </div>
    <div class="content">
        <table>
            <h1>Productos</h1>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad</th>
                    <th>Precio Total</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <input type="number" min="1" value="1">
                    </td>
                    <td></td>
                    <td>
                        <a class="add" href="/">Añadir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</body>

</html>