<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caffetal</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/tables.css">
</head>

<body>
    <div class="sidebar">
        <h2>Usuario</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/clienteProductos">Productos</a></li>
            <li><a href="/clienteHistorial">Historial</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>Historial de compras</h1>
        <table>
            <thead>
                <th>ID Pedido</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Detalles</th>
            </thead>
            <tbody>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a class="info" href="/detallesHistorial">Ver más</a>
                </td>
            </tbody>
        </table>
    </div>
    </div>
</body>

</html>