<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/styles.css">
    <link rel="stylesheet" href="/resources/css/tables.css">
</head>

<body>
    <div class="sidebar">
        <h2>Admin</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/listaClientes">Clientes</a></li>
            <li><a href="/listaPedidos">Pedidos</a></li>
            <li><a href="/listaProductos">Productos</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="container">
            <h1>Detalles del pedido</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID Producto</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>