<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <div class="sidebar">
        <h2>Admin</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/listaClientes">Clientes</a></li>
            <li><a href="/listaPedidos">Pedidos</a></li>
            <li><a href="/listaProductos">Productos</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="container">
            <h1>Editar Producto</h1>
            <form method="post">
                <label for="nombre">Nombre: </label>
                <input type="text" id="nombre" name="nombre">
                <label for="precio">Precio: </label>
                <input type="text" id="precio" name="precio">
                <label for="stock">Stock: </label>
                <input type="text" id="stock" name="stock">
                <label for="imagen">Imagen: </label>
                <input type="file" id="imagen" name="imagen">
                <button type="submit">Guardar</button>
                <a href="/listaProductos">Cancelar</a>
            </form>
        </div>
    </div>
</body>

</html>