<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if(user) { %>
        <div class="container">
            <h1>Editar cliente</h1>
            <form action="/update" method="post">
                <input id="id_cliente" name="id_cliente" value="<%= user.id_cliente %>" hidden>
                <label for="telefono">Teléfono: </label>
                <input type="text" id="telefono" name="telefono" value="<%= user.telefono %>">
                <label for="direccion">Direccion: </label>
                <input type="text" id="direccion" name="direccion" value="<%= user.direccion %>">
                <button type="submit">Guardar</button>
                <a href="/">Cancelar</a>
            </form>
        </div>
        <%}%>
</body>

</html>