:root {
    --color-rojo: #D32F2F;
    --color-naranja: #FF8C42;
    --color-azul: #1976D2;
    --color-verde: #388E3C;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    text-align: start;
    padding: 10px 8px;
}

tr td:last-child a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.info {
    background-color: var(--color-azul);
}

.edit {
    background-color: var(--color-verde);
}

.delete {
    background-color: var(--color-rojo);
}

.add {
    background-color: var(--color-naranja);
}