<header>
    <nav class="navbar">
        <ul>
            <div class="navbar-left">
                <li><a href="/admin/dashboard">Dashboard</a></li>
                <li><a href="/admin/usuarios">Usuarios</a></li>
                <li><a href="/admin/productos">Productos</a></li>
                <li><a href="/admin/pedidos">Pedidos</a></li>
            </div>
            <div class="navbar-right">
                <li><a href="/logout">Cerrar sesión</a></li>
            </div>
        </ul>
    </nav>
</header>
