<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="/public/admin/style.css">
    <style>
        .div-form {
            max-width: 800px;
            margin: 40px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        label {
            font-size: 1rem;
            color: #333;
        }

        input,
        select,
        textarea {
            padding: 10px;
            font-size: 1rem;
            border: 1px solid #ddd;
            border-radius: 4px;
            background-color: #fff;
            color: #333;
        }

        button {
            background-color: #4f91ff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            font-size: 1.1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #0F0C29;
        }

        input[readonly] {
            background-color: #f0f0f0;
            color: #aaa;
        }
    </style>
</head>

<body>
    <%- include('../partials/navAdmin') %>
        <h1>Agregar Producto</h1>
        <div class="div-form">
            <form action="/admin/productos/agregar" method="POST">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" required>
                <label for="descripcion">Descripción:</label>
                <textarea name="descripcion" id="descripcion" required></textarea>
                <label for="precio">Precio:</label>
                <input type="number" name="precio" id="precio" step="0.01" required>
                <label for="categoria">Categoria:</label>
                <select name="categoria" id="categoria">
                    <option value="bebida">Bebida</option>
                    <option value="postre">Postre</option>
                    <option value="snack">Snack</option>
                </select>
                <label for="stock">Stock:</label>
                <input type="number" name="stock" id="stock" required>
                <button class="edit-btn" type="submit">Agregar Producto</button>
            </form>
        </div>
</body>

</html>