<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Administrador</title>
    <link rel="stylesheet" href="/public/admin/style.css">
</head>

<body>
    <%- include('../partials/navAdmin') %>
        <h1 style="font-size: 3em; margin-top: 200px;">Bienvenido, Administrador</h1>
</body>

</html>